@model Config
@{

}
<partial name="_Notification"/>
<div class="">
    <h1 class="display-4">D2 From github</h1>
    <div class="container">
       <input type="button"
        value="Log In User"
        onclick="location.href='@Url.Action("Authorize", "Home")'"
        />
    </div>
    
</div>
