@model Config
@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Notification"/>
<div class="text-center">
    <h1 class="display-4">D2 From github</h1>
    <div class="container">
        <button class="btn"  asp-controller="Home" asp-action="Authorize">Log In User</button>
    </div>
    
</div>
