@model Config
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">D2</h1>
    @* <h2>@Model.clientID</h2>
    <h2>@Model.apiKey</h2>
    <h2>@Model.rootUrl</h2>
    <h2>@Model.memType</h2> *@
</div>
