@model PlayerViewModel

<partial name="_Notification"/>
    <div class="p-5 mb-4 bg-dark text-white rounded-3">
      <div class="container-fluid py-5">
        
        <h1 class="display-5 fw-bold">@Model.destinyProfileResponse.profile.data.userInfo.displayName<span class="displayNameCode"> #@Model.destinyProfileResponse.profile.data.userInfo.bungieGlobalDisplayNameCode</span></h1>
        <p class="col-md-8 fs-4"></p>
      </div>
    </div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
      @foreach (var character in Model.destinyProfileResponse.characters.data)
{
   
  string ct = "";
      switch(character.Value.classType)
      {
        case 0:
        ct = "titan";
        break;
        case 1:
        ct = "hunter";
        break;
        case 2:
        ct = "warlock";
        break;
        default:
        ct = "unknown";
        break;
      }
      <li class="nav-item" role="presentation">
    <button class='nav-link' id='@ct-tab' data-bs-toggle='tab' href="#@ct" type='button' role='tab' aria-controls="@ct" aria-selected='true'><classParser>@character.Value.classType</classParser></button>
  </li>
}

</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="titan" role="tabpanel" aria-labelledby="titan-tab">
      <div>
           
      </div>
  </div>
  <div class="tab-pane fade" id="hunter" role="tabpanel" aria-labelledby="hunter-tab">
      <div>
        <button type="button" class="btn btn-primary btn-md" onclick="HunterButton()">kool aid man</button>
      </div>
  </div>
  <div class="tab-pane fade" id="warlock" role="tabpanel" aria-labelledby="warlock-tab">
      <div>

      </div>
  </div>
</div>

    <footer class="pt-3 mt-4 text-muted border-top">
      <p id="footerDate"></p>
    </footer>
