@model Player
<partial name="_Notification"/>
<div class="container">
    <h1>You are logged in (player)</h1>
    <h2>@ViewData["token"]</h2>
    <h2>@ViewData["res"]</h2>
    <h2>@ViewData["athd"]</h2>
</div>