@model PlayerViewModel
<partial name="_Notification"/>
<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
        <h1>@Model.destinyProfileResponse.profile.data.userInfo.displayName</h1>
        

    </header>
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid "></div>
</div>
   @* make these created from list of users in future *@
<div class="row align-items">
    @* class col-md-{x} make this 12/amount of characters registers//out of 3 *@
    <div class="col-m-4">
        
    @foreach (var character in Model.destinyProfileResponse.characters.data)
{

    <div class="h-100 p5 bg-light border rounded-3">
            @switch (@character.Value.classType)
            {
                case 0:
                <h2>Class: Titan</h2>
                break;
                case 1:
                <h2>Class: Hunter</h2>
                break;
                case 2:
                <h2>Class: Warlock</h2>
                break;
                default:
                <h2>Class: Unknown</h2>
                break;
            }
            <h2>Light Level: @character.Value.light</h2>
    </div>
}

</div>
</div>((int?)((int?)