html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("/Images/registration_traveler_bg.png");
}
/* profile page */
.displayNameCode {
  color:darkcyan;
}
/* login screen */
.parent{
  min-height: 100vh;
}
.signInHeader{
  color:white;
}